@rendermode InteractiveWebAssembly
@using System.Text.Json;

@using JSON2CSV.Client.Components
@using JSON2CSV.Shared
@using JSON2CSV.Shared.Resources
<PageTitle>CSV2JSON</PageTitle>


<div style="display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
">
    <h1>CSV2JSON</h1>

    <form>
        <label for="csv-input" class="form-label">CSV:</label>
        <textarea class="form-control @(ValidationErrors.Any() ? "is-invalid" : "is-valid")"
                  id="csv-input"
                  name="csv-input"
                  rows="10" cols="50"
                  placeholder="Paste your CSV file here..."
                  @bind=CsvInput
                  @oninput=@HandleInput
        >
    </textarea>
    <div>
    <InputFile OnChange="OnFileSelected"></InputFile>

    <label style="text-shadow:none;" for="separationCharacters">Separation Character:</label>
    <select @bind="@SelectedSeparationValue" name="separationCharacters" id="separationCharacters">
            <option default value=",">,</option>
            <option value=";">;</option>
            <option value="\t">Tabs</option>
            <option value="|">|</option>
            <option value="Other">Other</option>
        </select>
        @if (SelectedSeparationValue == "Other")
        {
            <input style="width:30px;text-align:center;" type="text" maxlength="1" @bind="CustomSeparationCharacter"/>
        }
        
    @if (ValidationErrors.Any())
    {
        <div class="invalid-feedback d-block">
            @foreach (var error in ValidationErrors)
            {
                <div>@error</div>
            }
        </div>
    }
    </div>
    </form>

    <div>
        <button class="btn btn-success" id="convert-button" onclick="@ConvertCsvToJson" disabled="@ValidationErrors.Any()">Convert to JSON</button>
        <button class="btn btn-danger" id="clear-button" onclick="@ClearText">Clear</button>
    </div>

    <form>
        <label for="json-output">JSON:</label>
        <textarea class="form-control"
                  id="json-output"
                  name="json-output"
                  rows="10" cols="50"
                  readonly
                  placeholder="Your JSON output will appear here...">
    @JsonOutput
              </textarea>
    </form>

    <div>
        <CopyToClipboardButton Text="@JsonOutput" IsEnabled=@(!string.IsNullOrEmpty(JsonOutput))></CopyToClipboardButton>
        <DownloadJsonFileButton Input="@JsonOutput" FileName="data.json"></DownloadJsonFileButton>
    </div>


</div>



@code {
    public string CsvInput { get; set; } = string.Empty;
    public string JsonOutput { get; set; } = string.Empty;

    private string SelectedSeparationValue = ",";
    private string CustomSeparationCharacter = string.Empty;
    public char SeparationCharacter
    {
        get
        {
            if (SelectedSeparationValue == "Other" && !string.IsNullOrEmpty(CustomSeparationCharacter))
            {
                return CustomSeparationCharacter[0]; 
            }
            if (SelectedSeparationValue == "\\t") 
            {
                return '\t';
            }
            return SelectedSeparationValue[0];
        }
    }
    public List<string> ValidationErrors { get; set; } = new List<string>{"Input is empty."};

    private Csv2JsonConverter Csv2JsonConverter = new();

    private void HandleInput(ChangeEventArgs e)
    {
        CsvInput = e.Value?.ToString() ?? string.Empty;
        RefreshValidationErrors();
    }

    private void ConvertCsvToJson()
    {
        JsonOutput = Csv2JsonConverter.ConvertCsv2Json(CsvInput, SeparationCharacter);
    }

    private void ClearText()
    {
        CsvInput = string.Empty;
        JsonOutput = string.Empty;
        RefreshValidationErrors();
    }

    private List<string> GetValidationErrorsForCsvInput(string csvInput)
    {
        var errors = new List<string>();

        var validationCheckResult = Csv2JsonConverter.ValidationCheck(csvInput, SeparationCharacter);

        if (!validationCheckResult.Item1)
        {
            errors.Add(validationCheckResult.Item2);
        }

        return errors;
    }

    private async Task OnFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        using var stream = file.OpenReadStream(maxAllowedSize: 10_000_000);
        using var reader = new StreamReader(stream);
        CsvInput = await reader.ReadToEndAsync();
        RefreshValidationErrors();
    }

    private void RefreshValidationErrors()
    {
        ValidationErrors = GetValidationErrorsForCsvInput(CsvInput);
    }
}
