@page "/json2csv"
@rendermode InteractiveWebAssembly
@using System.Text.Json;

@using JSON2CSV.Shared
@using JSON2CSV.Shared.Resources
@using Microsoft.Extensions.Localization

<PageTitle>JSON2CSV</PageTitle>


<div style="display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
">
    <h1>JSON2CSV</h1>

    <form>
        <label for="json-input" class="form-label">JSON:</label>
        <textarea class="form-control @(ValidationErrors.Any() ? "is-invalid" : "is-valid")"
                  id="json-input"
                  name="json-input"
                  rows="10" cols="50"
                  placeholder="Paste your JSON file here..."
                  @bind=JsonInput
                  @oninput=@HandleInput
        >
    </textarea>
    <InputFile OnChange="OnFileSelected"></InputFile>
    @if (ValidationErrors.Any())
    {
        <div class="invalid-feedback d-block">
            @foreach (var error in ValidationErrors)
            {
                <div>@error</div>
            }
        </div>
    }

    </form>

    <div>
        <button class="btn btn-success" id="convert-button" onclick="@ConvertJsonToCsv" disabled="@ValidationErrors.Any()">Convert to CSV</button>
        <button class="btn btn-danger" id="clear-button" onclick="@ClearText">Clear</button>
    </div>

    <form>
        <label for="csv-output">CSV:</label>
        <textarea class="form-control"
                  id="csv-output"
                  name="csv-output"
                  rows="10" cols="50"
                  readonly
                  placeholder="Your CSV output will appear here...">
    @CsvOutput
              </textarea>
    </form>
</div>



@code {
    public string JsonInput { get; set; } = string.Empty;
    public string CsvOutput { get; set; } = string.Empty;

    public List<string> ValidationErrors { get; set; } = new List<string>{"Input is empty."};

    private Json2CsvConverter Json2CsvConverter = new Json2CsvConverter();

    private void HandleInput(ChangeEventArgs e)
    {
        JsonInput = e.Value?.ToString() ?? string.Empty;
        RefreshValidationErrors();
    }

    private void ConvertJsonToCsv()
    {
        CsvOutput = Json2CsvConverter.ConvertJsonToCsv(JsonInput);
    }

    private void ClearText()
    {
        JsonInput = string.Empty;
        CsvOutput = string.Empty;
        RefreshValidationErrors();
    }

    private List<string> GetValidationErrorsForJsonInput(string jsonInput)
    {
        var errors = new List<string>();

        var validationCheckResult = Json2CsvConverter.ValidationCheck(jsonInput);

        if (!validationCheckResult.Item1)
        {
            errors.Add(validationCheckResult.Item2);
        }

        return errors;
    }

    private async Task OnFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        using var stream = file.OpenReadStream(maxAllowedSize: 10_000_000);
        using var reader = new StreamReader(stream);
        JsonInput = await reader.ReadToEndAsync();
        RefreshValidationErrors();
    }

    private void RefreshValidationErrors()
    {
        ValidationErrors = GetValidationErrorsForJsonInput(JsonInput);
    }
}
